.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-6);
  background-color: var(--card-foreground-color);
  border-radius: 10px;
  font-weight: 700;
  color: var(--text-primary-color);
}
